.proposing
    .code
        display: none
        font-size: 90px
        width: 450px
        position: absolute

        .inner
            margin-left: 30px

            a
                cursor: pointer
                text-decoration: underline

    .middle-finger
        display: none
        position: absolute