.lyrics
    .topLeft 
        position: absolute
        left: 300px
        top: 100px
        font-size: 0px
    
    .botRight 
        position: absolute
        right: 300px
        top: 400px
        font-size: 0px
    
    .center 
        position: absolute
        text-align: center
        width: 200px
        top: 250px
        font-size: 0px
    
    .centerOne
        position: absolute
        width: 100%
        margin-left: auto
        margin-right: auto
        top: 325px
        font-size: 1px
    
    .centerTwo 
        position: absolute
        width: 100%
        margin-left: auto
        margin-right: auto
        top: 325px
        font-size: 1px
    