.she-said-yes
    display: none
    background: url(../images/proposal/38.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    position: absolute
    width: 100%
    height: 100%
    
    #cv
      width: 100%
      height: 100%
      position: absolute
      left: -600px
      top: -100px