.passcode-container()
    input.passcode-input(ng-model="passcode", placeholder="Enter Passcode.")
    button.passcode-button(ng-click="verifyPasscode()") ENTER
    br
    br
    label.passcode-wrong INCORRECT!