.passcode-container

  .passcode-label
    font-size: 25px

  .passcode-input
    font-size: 16px
    height: 24px
    width: 167px
    margin-right: 20px
    border-radius: 4px
    height: 35px

  .passcode-button
    width: 95px
    height: 41px

  .passcode-wrong
    color: red
    font-size: 70px
    display: none