.rsvp-container
    height: max-content-height
    center-on-screen()

    .rsvp-functional-container
      position: absolute
      left: 310px
      top: 200px

    .rsvp-background
        position: absolute
        width: 100%
        max-width: 1080px

        img
            width: 100%

    .guest-container
        width: 400px

    .response
        color: #000
        font-size: 22px
        width: 410px
        background-color: rgba(207, 207, 207, .5)
        border-radius: 5px

.ui-menu
    border: 1px solid rgb(153, 153, 51)
    background-color: white
    font-family: MainFont
    color: main-font-color

.ui-state-focus
    color: White !important
    background: rgb(153, 153, 51) !important
    outline: none !important
    font-family: MainFont
    color: main-font-color