.rsvp-names-container
  .rsvp-names
    font-size: 20px
    height: 40px
    width: 395px
    border-radius: 5px
    border-style: solid
    border-width: 1px
    font-family: MainFont
    color: main-font-color
