.rsvp-container
    height: max-content-height
    center-on-screen()

    .rsvp-background
        position: absolute
        width: 100%
        max-width: 1080px

        img
            width: 100%

    .passcode-container
        left: 350px
        top: 250px
        position: absolute

        .passcode-label
            font-size: 25px

        .passcode-input
            font-size: 16px
            height: 24px
            width: 167px
            margin-right: 20px
            border-radius: 4px
            height: 35px

        .passcode-button
            width: 95px
            height: 41px

        .passcode-wrong
            color: red
            font-size: 70px
            display: none

    .guest-container
        position: absolute
        left: 310px
        top: 200px

        .num-guests-label
            color: #000
            font-size: 22px
            width: 375px
            margin: 0
            text-align: justify
            background-color: rgba(207, 207, 207, .5)
            border-radius: 5px

        .num-guests
            font-size: 20px
            margin-left: 30px
            width: 60px
            font-family: MainFont
            color: main-font-color
            height: 28px

        .rsvp-names
            font-size: 20px
            height: 40px
            width: 375px
            border-radius: 5px
            border-style: solid
            border-width: 1px
            font-family: MainFont
            color: main-font-color

        .save-guest
            height: 35px
            margin-left: 20px

    .verification-container
        position: absolute
        left: 285px
        top: 200px

        .verification-label
            color: #000
            font-size: 22px
            width: 410px
            margin: 0
            text-align: justify
            background-color: rgba(207, 207, 207, .5)
            border-radius: 5px

        .strong
            font-weight: 600
            margin-right: 15px
        button
            height: 35px
        .confirm-save
            margin-left: 20px
        .cancel-save
            margin-left: 245px

    .response
        position: absolute;
        color: #000
        font-size: 22px
        width: 410px
        margin: 0
        text-align: justify
        background-color: rgba(207, 207, 207, .5)
        border-radius: 5px
        top: 200px
        left: 300px

.ui-menu
    border: 1px solid rgb(153, 153, 51)
    background-color: white
    font-family: MainFont
    color: main-font-color

.ui-state-focus
    color: White !important
    background: rgb(153, 153, 51) !important
    outline: none !important
    font-family: MainFont
    color: main-font-color