@media screen and (max-device-width: 800px)
    .rsvp-container
        center-on-screen()

        .rsvp-background
            position: static

        .passcode-container
            left: 10px
            top: 700px

        .guest-container
            left: 10px
            top: 700px

        .verification-container
            left: 10px
            top: 700px

        .rsvp-background
            display: none

        .passcode-button
            height: 95px

        .response
            left: 10px
            top: 700px