.verification-container
  margin-top: 35px

  .verification-label
    color: #000
    font-size: 22px
    margin: 0
    text-align: justify
    background-color: rgba(207, 207, 207, .5)
    border-radius: 5px

  .strong
    font-weight: 600
    margin-right: 15px

  button
    height: 40px
    width: 75px

  .confirm-save
    margin-left: 5px

  .cancel-save
    margin-left: 245px
