div.proposing
    div.code
        div.outer if ( cute() ) {
        div.inner(ng-click="sheSaidYes()")
          a sayYes();
        div.outer } else {
        div.inner(ng-click="sheSaidNo()")
          a sayNo();
        div.outer }

    img.middle-finger(src="images/proposal/middle-finger.jpg")
