div.lyrics
    div.centerOne
        p {{lyric.centerOne}}
    div.centerTwo
        p {{lyric.centerTwo}}
    div.topLeft
        p {{lyric.topLeft}}
    div.center
        p {{lyric.center}}
    div.botCenter
        p {{lyric.botCenter}}
    div.botRight
        p {{lyric.botRight}}

