div.poem
    h1.title She Held My Hand

    h2.name by Cory Parrish, 2013
    div.poem-body
      p {{poem.line1}}
      p {{poem.line2}}
      p {{poem.line3}}
      p {{poem.line4}}
      p {{poem.line5}}