div.container

    audio#player(style='width: 0px; height: 0px;', controls='controls') Canvas not supported
          source#musicSource(src='audio/proposal/Let_It_Be_Me.mp3', type='audio/mpeg')

    div.lyrics-container
        lyrics()
        
    div.poem-container
        poem()

    div.images
        image-floater(start="1", end="10", position="0")
        image-floater(start="11", end="20", position="1")
        image-floater(start="21", end="29", position="2")
        image-floater(start="30", end="38", position="3")

    div.code-container
        code()

    div.she-said-yes-container
        she-said-yes()